.topbar {
  background: #ffffff;
}
.topbar .navbar-header {
  background: #ffffff;
}
.topbar .top-navbar .navbar-header .navbar-brand .light-logo {
  display: none;
  color: rgba(0, 0, 0, 0.7);
}
.topbar .navbar-light .navbar-nav .nav-item > a.nav-link {
  color: #fff !important;
}
.topbar .navbar-light .navbar-nav .nav-item > a.nav-link:hover,
.topbar .navbar-light .navbar-nav .nav-item > a.nav-link:focus {
  color: #fff !important;
}

/*******************
/*General Elements
*******************/
a.link:hover,
a.link:focus {
  color: #39722c !important;
}

.bg-theme {
  background-color: #39722c !important;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #2fd299;
  border-color: #2fd299;
}

.right-sidebar .rpanel-title {
  background: #2fd299;
}

.stylish-table tbody tr:hover,
.stylish-table tbody tr.active {
  border-left: 4px solid #2fd299;
}

.text-themecolor {
  color: #2fd299 !important;
}

.profile-tab li a.nav-link.active,
.customtab li a.nav-link.active {
  border-bottom: 2px solid #2fd299;
  color: #2fd299;
}

.profile-tab li a.nav-link:hover,
.customtab li a.nav-link:hover {
  color: #2fd299;
}

/*******************
/*Buttons
*******************/
.btn-themecolor,
.btn-themecolor.disabled {
  background: #2fd299;
  color: #ffffff;
  border: 1px solid #2fd299;
}
.btn-themecolor:hover,
.btn-themecolor.disabled:hover {
  background: #2fd299;
  opacity: 0.7;
  border: 1px solid #2fd299;
}
.btn-themecolor.active,
.btn-themecolor:focus,
.btn-themecolor.disabled.active,
.btn-themecolor.disabled:focus {
  background: #2fd299;
}

/*******************
/*sidebar navigation
*******************/
.label-themecolor {
  background: #2fd299;
}

.sidebar-nav > ul > li.active > a {
  color: #2fd299;
  border-color: #2fd299;
}
.sidebar-nav > ul > li.active > a i {
  color: #2fd299;
}

.sidebar-nav ul li a.active,
.sidebar-nav ul li a:hover {
  color: #d4e7f3;
}
.sidebar-nav ul li a.active i,
.sidebar-nav ul li a:hover i {
  color: #ffff;
}

.sidebar-nav > ul > li > a i {
  color: #d4e7f3;
}
